/* Body */

body {
    font-family: $main-font;
    color: $first-color-text;
    background-color: $first-bg-color;
    
  }
  
  /* Main */
 .main {
    margin: 0;
  }
   
@media screen and (max-width:767px) {
    
    .container {
    width: 480px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 15px;
    padding-right: 15px;
  }
  
   .section{
    
    padding-top: 60px;
    padding-bottom: 60px;
  }
  
 .container__name {
    color: $first-color-text;
    font-style: normal;
    text-align: center;

     font-size: 28px;

     font-weight: 700;
line-height: normal;
letter-spacing: 0.84px;
    text-align: center;
    align-items: center;
   margin: 0;
  }



}




  