/* Body */

body {
    font-family: $main-font;
    color: $first-color-text;
    background-color: $first-bg-color;
    
    }
  
  /* Main */
 .main {
    margin: 0;
  }

 .container {
    width: 480px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 15px;
    padding-right: 15px;
  }
  
 .container__name {
    color: $first-color-text;
    font-style: normal;
    text-align: center;
    font-weight: 700;
    line-height: normal;
    text-align: center;
    margin: 0;
    font-size: 28px;
    letter-spacing: 0.84px;
  }
 
  .section{
    padding-top: 60px;
    padding-bottom: 60px;
  }


  