/* Модальне вікно */
.backdrop{
    position: fixed;
    top:0;
    left:0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.20);
    opacity: 1;
    transition: visibility 250ms cubic-bezier(0.4, 0, 0.2, 1) , opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
    z-index:99999;
  
    &.backdrop--hidden .modal{
      transform: translate(-50%, -50%) scale(0.7) ;
    }
    &--hidden{
    opacity: 0;
    pointer-events: none;
    visibility: hidden; 
   
  }
   }
  
 .modal{
    position: absolute;
    top:50%;
    left:50%;
    transform: translate(-50%, -50%)scale(1);
    width: 450px;
height: 609px;
  border-radius: 4px;
  background: $first-bg-color;
  box-shadow: 0px 2px 1px 0px rgba(0, 0, 0, 0.20), 0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 1px 3px 0px rgba(0, 0, 0, 0.12);
  padding: 40px;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  
  .button-container{
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  
  .modal-button{
    position: absolute;
    display: inline-block;
    top:8px;
    right: 8px;
  width: 30px;
    height: 30px;
    border-radius: 50%;
    border-color: rgba(0, 0, 0, 0.10);
    background-color: $first-bg-color;
    transition: fill  250ms cubic-bezier(0.4, 0, 0.2, 1);
  
    &:hover ,&:focus{
      cursor: pointer;
      fill: $accent-color;
      outline: none;
    }
    
    &__icon{
      position: absolute;
      top:50%;
      left:50%;
      transform: translate(-50%,-50%);
    }
    
  }
 
  .form__title{
    color: $first-color-text;
    text-align: center;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: 30px;
    letter-spacing: 0.6px;
  margin:0;
  margin-bottom: 30px;
  }
  
  .form-container{
    position: relative;
    margin-bottom: 28px;
    width: 370px;

  
  &__label{
    position: absolute;
    top: -20px;
    color: $second-color-text;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 0.12px;
  }
}
  
  
  
  
  .form-input{
    width: 370px;
height: 40px;
  flex-shrink: 0;
  border-radius: 4px;
  border: 1px solid rgba(33, 33, 33, 0.20);
  padding: 12px;
  padding-left: 43px;
  outline:none;
  
  &:focus{
    border-color: $accent-color;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  
  &__icon{
    position: absolute;
    top:50%;
    left:15px;
    transform: translateY(-50%);
  }
  
  &:focus ~ &__icon{
    fill: $accent-color;
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
}
 
  
  .textarea{
    width: 370px;
height: 120px;
  flex-shrink: 0;
  border-radius: 4px;
  border: 1px solid rgba(33, 33, 33, 0.20);
  padding: 12px 16px;
  resize:none;
  outline:none;
  
  &::placeholder{
    color: rgba(117, 117, 117, 0.50);
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 0.12px;
  }
  
  &:focus{
    border-color: $accent-color;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

}
  
  .form-container--positioning{
    display: flex;
    align-items: center;
    margin-bottom: 30px;
    padding: 0 12px 0 0;
    width: 370px;
  }
  
  .form-label-check{
    display: flex;
    align-items: center;
    color: $second-color-text;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 0.36px;
  
  }
  
  .check-input{
    position: absolute;
    left: 20px;
    width: 1px;
    height: 1px;
      margin: -1px;
      border:0;
      padding: 0;
      clip: rect(0 0 0 0);
      overflow: hidden;
 
      &__icon{
        width: 15px;
        height: 15px;
        margin-right: 7px;
        border: 2px solid $first-color-text;
        border-radius: 4px;
        
      }
       &:focus + &__icon{
        border-color: $accent-color;
       }
      &:checked + &__icon{
        background-color: $accent-color;
       border: 0;
      }
      
    }
  
 .check-link{
    margin-left: 5px;
    color: $accent-color;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 0.36px;
  text-decoration-line: underline;
  }
  
  .form-button{
    width: 200px;
  height: 50px;
  flex-shrink: 0;
  border: 0;
  border-radius: 4px;
  background: $accent-color;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
  color: $third-color-text;
  text-align: center;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 30px; 
  letter-spacing: 0.96px;
  cursor: pointer;
  }
  