
/* Header */

.page-header {
    background-color: $first-bg-color;
    border-bottom: 1px solid $border-color;
}


 
  .navigation{ 
    
     display: flex;
     align-items: center;
     
    }
    .pages{
      padding: 0 ;
      list-style-type: none;

      &__item{
        position:relative ;
    }
  }

  .logo {
    color: $first-color-text;
    font-family: $logo-font;
    text-decoration: none;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 0.72px;
  
    &__title {
    color: $accent-color;
    
  }
}

.pages-link {
  display:inline-block;
  color: $first-color-text;
  text-decoration: none;
  text-align: center;
  
  font-style: normal;
  
  line-height: normal;
  letter-spacing: 0.8px;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &--current {
    color: $accent-color;
  }
  
  &:hover,
  &:focus {
    color: $accent-color;
  }
  }

  .contact{
    padding: 0;
    margin: 0;
    
    list-style-type: none;
    gap:50px;
    }

    .contact-link {
      text-decoration: none;
      font-style: normal;
      
      color: $accent-color;
      
      line-height: normal;
      letter-spacing: 0.68px;
    }


    @media screen  and (max-width:767px){

      .container--positioning{
     
        padding-top:10px;
        padding-bottom: 10px;
      } 
    .header-button{
      display: flex;
      margin:  0;
      padding: 0;
      border: 0;
      background-color: $first-bg-color;
      cursor: pointer;
    }
  
    .header-button:hover .icon-menu ,.header-button:focus .icon-menu{
      fill:$accent-color;
      transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1) ;
    }
  
    .nav-container-button{
      position: absolute;
      padding: 0;
      top:10px;
      right: 15px;
      border: 0;
      background-color: $first-bg-color;
      }
  
    .nav-container-button:hover .icon-close ,.nav-container-button:focus .icon-close{
    fill:$accent-color;
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1) ;
    }
  
    .nav-container{
      position: absolute;
      display: none;
      left: 0;
      top: 0;
    
      background: $first-bg-color;
      box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.16), 0px 2px 4px 0px rgba(0, 0, 0, 0.08), 0px 4px 8px 0px rgba(0, 0, 0, 0.04);
      width: 100%;
      
      z-index: 99999;
    }
    
    .is-open{
      display: block;
      position: fixed;
     }
 
    
     
  
   .pages__item:last-child{
      margin-bottom: 0;
    }
    
  .contact{
    margin-bottom: 64px;
  }
   .contact__item:not(:last-child){
      margin-bottom: 32px;
    }
    
   .contact-link:hover,
    .contact-link:focus {
      cursor: pointer;;
      }
  
    .contact-link__icon{
        display: none;
      }
        
    .contact-link--font{
      color: $second-color-text;
      font-size: 24px;
      line-height: normal;
      letter-spacing: 0.48px;
    }
   
    .header-network{
    display: flex;
    list-style: none;
    margin: 0 ;
    padding: 0;
    }
  
    .header-network-link{
    color: $accent-color;
    height: 22px;
    
    text-decoration: none;
    font-style: normal;
    letter-spacing: 0.36px;
  }
  
  .header-network-link--padding{
    padding-left: 0;
  }
  
  .header-network__item:not(:last-child){
    border-right: 1px solid rgba(33, 33, 33, 0.20);
  
  }
  
  }




  @media screen  and (max-width:479px){
    .header-button{
       margin-left: auto;
    }
    .header-network-link{
      font-size: 14px;
      font-weight: 400;
      line-height: 20px; 
      padding: 0 5px 0 5px;
    }
    .nav-container{
     
      padding: 36px 20px;
  }
  .pages{
    margin: 0 0 100px 0;  
  } 
  .pages__item{
    position:relative ;
    margin-bottom: 15px;
   } 
   .contact{
    margin-bottom: 50px;
  }
  .contact-link {
    font-weight: 400;
    font-size: 28px;
    
  }
  .pages-link {
    font-size: 30px;
    font-weight: 450;
}
  
  }
  @media screen and (min-width:480px) and (max-width:767px){
 
.header-button{
  margin-left: 276px;
 
}
.header-network-link{
font-size: 18px;
font-weight: 500;
line-height: 22px; 
padding: 0 10px 0 10px;
}
.nav-container{
  
  padding: 48px 40px;
    }

    .pages{
      margin: 0 0 306px 0;  
    } 
    .pages__item{
      position:relative ;
      margin-bottom: 32px;
     } 
    
     .contact{
      margin-bottom: 64px;
    }
    .pages-link {
    font-size: 40px;
    font-weight: 500;
}
  }