/* Ефективні рішення */
.section--positioning{
   background-color: $first-bg-color;
  }
  
  .solution {
    margin: 0;
    padding: 0;
    gap:30px;
    list-style-type: none;
    
    &-container{
      display: flex;
      width: 450px;
      height: 120px;
      background-color: $fourth-bg-color;
     justify-content: center;
     align-items: center;
    }
  } 
  .solution-item{
    width: 450px;
   
    &__title {
      color: $first-color-text;
      font-size: 14px;
      font-style: normal;
      font-weight: 700;
      line-height: 24px; 
      letter-spacing: 0.42px;
      text-transform: uppercase;
      margin: 0;
      margin-top: 30px;
      
    }
    
    &__text {
      color: $second-color-text;
      font-size: 14px;
      font-style: normal;
      font-weight: 400;
      line-height: 24px;
      letter-spacing: 0.42px;
      margin: 0;
      margin-top: 10px;
    }
    }
    @media screen and (max-width:767px){
     .solution-item{
      text-align: center;
     }
     .solution-item:not(:last-child){
      margin-bottom: 30px;
     }
    }