/* Наша команда */

.section--background {
    background-color: $fourth-bg-color;
    
  }

  .teams {
    margin: 0;
    margin-top: 50px;
    margin-left: auto;
    margin-right: auto;
    padding: 0;
    gap:30px;
    list-style-type: none;
    
    &__item{
    text-align: center;
    padding: 0;
    align-items: center;
    background-color: $first-bg-color;
    box-shadow: 0px 2px 1px 0px rgba(0, 0, 0, 0.20), 0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 1px 3px 0px rgba(0, 0, 0, 0.12);
  border-radius: 0px 0px 4px 4px;
  }
}

  .info{
    padding-top: 30px;
    padding-bottom: 30px;
   
    &__name {
      color: $first-color-text;
      font-size: 16px;
      font-style: normal;
      font-weight: 500;
      line-height: normal;
      letter-spacing: 0.48px;
      margin: 0;
   }
    
    &__speciality {
      color: $second-color-text;
      font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: normal;
letter-spacing: 0.48px;
      margin: 0;
      margin-top: 10px;
    }
  }

  .network{
    display: flex;
    justify-content: center;
    margin: 0;
    padding: 0;
    list-style-type: none;
    margin-top: 16px;
    gap:10px;
  
    &__items{
      margin: 0;
      padding: 0;
      width: 44px;
      height: 44px;
      border-radius: 50%;
    }
  }
  
  .network-link{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
    padding: 0;
    width: 44px;
    height: 44px;
    fill: $icon-color;
    border-radius: 50%;
    background-color: $first-bg-color;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  
    &__icon{
      transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1) ;
    }
    &:hover, &:focus{
      background-color: $accent-color;
    }
    &:focus > &__icon{
      fill: $third-color-text;
      cursor: pointer;
    }
    &:hover > &__icon{
      fill: $third-color-text;
      cursor: pointer;
    }
  }
  
  @media screen and (max-width:767px){

  .teams__item:not(:last-child){
    margin-bottom: 30px;
  }
  
  
}  

  

  
  
  
  