/* Footer */
@media screen and (min-width:768px) and (max-width:1199px){
.page-footer {
    background-color: $second-bg-color;
    padding-top: 60px;
    padding-bottom: 60px;
  
  }
  .container--location{
    display: flex;
    align-items: baseline;
    flex-wrap: wrap;
    justify-content: space-around;
  
  }
  
  .footer-contact {
    list-style-type: none;
    padding: 0;
    margin: 0;
    margin-top: 9px;
    
    &__item--positioning{
      margin-top: 9px;
    }
  }
  
  .address {
    color: $third-color-text;
    margin-top: 20px;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.5;
    letter-spacing: 0.03em;
  }
  
  .page-footer__logo {
    color: $third-color-text;
    font-family: $logo-font;
    text-decoration: none;
    font-style: normal;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em;
  
    .logo__text {
    color: $accent-color;
  }
}
  
.footer-contact-link {
    color: $fourth-color-text;
    text-decoration: none;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.5;
    letter-spacing: 0.03em;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  
   &:hover,
  &:focus {
    color: $accent-color;
  }
  }
  
  .footer-container{
    margin-left: 70px;
    text-align: center;
   &__title{
    color: $third-color-text;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 0.42px;
  text-transform: uppercase;
  margin: 0;
  padding: 0;
  }
  }
  
 
  .footer-network{
    display: flex;
    margin: 0;
    padding: 0;
    list-style-type: none;
    gap:10px;
    margin-top: 20px;
  
    &__items{
      width: 44px;
      height:44px;
      background-color: rgba(255, 255, 255, 0.10);
      border-radius: 50%;
     }
  }
  
  
  
  .footer-link{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 44px;
    height:44px;
    border-radius: 50%;
   transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1) ;
  
  &:hover , &:focus{
    background-color: $accent-color;
    cursor: pointer;
  }
  
  &__icon{
    fill: $third-color-text;
  }
  }
  
  .footer-container-form{
   margin-top: 60px;
 text-align: center;
  }
  
  .form-footer{
    text-align: center;
  }
  
  
  .footer-label{
    display: block;
    width: 450px;

    margin-right: 12px;
  color: $third-color-text;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 0.42px;
  text-transform: uppercase;
  }
  
  .footer-input{
    width: 450px;
    height: 50px;
  margin-top: 20px;
  flex-shrink: 0;
  border-radius: 4px;
  border: 1px solid rgba(255, 255, 255, 0.30);
  background: rgba(33, 150, 243, 0.00);
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
  padding: 15px 16px;
  color: $third-color-text;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: 0.48px;
  outline:none;
  
  &:focus{
    border-color: $accent-color;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
}
  
  
  
  
  .footer-button{
    display: flex;
    align-items: center;
    margin-top:20px;
    margin-left: auto;
    margin-right: auto;
    width: 200px;
  height: 50px;
   padding-left: 28px;
  flex-shrink: 0;
  border: 0;
  border-radius: 4px;
  background: $accent-color;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
  color: $third-color-text;
  text-align: center;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 30px; /* 187.5% */
  letter-spacing: 0.96px;
  cursor: pointer;
  
  &__icon{
    margin-left: 10px;
  }
}
}