@media screen and (min-width:768px){

.gallery {
    display: flex;
    flex-wrap: wrap;
    margin-top: 50px;
    
  }
 
 .gallery__item{
  display: flex;
  width: calc((100% - 30px)/2);
  
 } 
 .gallery-overlay{
     
  padding: 63px 24px;
  &__text{
    font-size: 18px;
    font-weight: 400;
    line-height: 28px;

  }
}
}
@media screen and (min-width:768px) and (max-width:1199){
.gallery-conteiner{
  flex-grow: 1;
}
}