
/* Header */

.page-header {
    background-color: $first-bg-color;
    border-bottom: 1px solid $border-color;
   
  
  
  .container--positioning{
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  }
  
  @media screen and (min-width:768px) and (max-width:1199px){
    
  
  
  .navigation{ 
     display: flex;
     align-items: center;
    }
  .nav-container{
    display: flex;
    align-items: center;
  }
  .pages{
    display: flex;
    gap: 50px;
    margin: 0;
    padding: 0;
    margin-left: 75px;
    list-style-type: none;
   
   &__item{
  position:relative ;
  } 
  }

  .logo {
    color: $first-color-text;
    font-family: $logo-font;
    text-decoration: none;
    font-style: normal;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.2;
    letter-spacing: 0.03em;
  
    &__title {
    color: $accent-color;
  }
}
  
  
  
  .pages-link {
    display:inline-block;
    color: $first-color-text;
    text-decoration: none;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    letter-spacing: 0.28px;
    padding-top: 32px;
    padding-bottom: 32px;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
 
    &--current {
      color: $accent-color;
    }
    
    &:hover,
    &:focus {
      color: $accent-color;
    }
    
    &--current::after{
      position: absolute;
      content: '';
      width: 100%;
      height: 4px;
      border-radius: 2px;
      bottom:0;
      left: 0;
      background-color:$accent-color;
    }
  }
  
  
  
  
  .contact{
    padding: 0;
    margin: 0;
    list-style-type: none;
    margin-left: 78px;

    }
  
  .contact__item:not(:last-child){
    margin-bottom: 10px;
  }
  
  .contact-link {
    display: flex;
    align-items: center;
    color: $second-color-text;
    text-decoration: none;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.15;
    letter-spacing: 0.02em;
    align-items: center;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  
    &:hover,
    &:focus {
    color: $accent-color;
    }

    &__icon{
      fill:currentColor;
      margin-right: 8px;
    }
  }
  
  }