/* Наша команда */
@media screen and (min-width:768px){
  .teams {
    display: flex;
    }
    .info__name {
      color: $first-color-text;
      font-size: 16px;
       font-weight: 500;
     
   }

   .info__speciality {
    font-size: 16px;
    font-weight: 400;

  }

  }

@media screen and (min-width:768px) and (max-width:1199px) {
  
.teams {
    flex-wrap: wrap;
}

.teams__item{
  width: calc((100% - 30px)/2);
}
}
  
  