$main-font :"Roboto", sans-serif;
$logo-font : "Raleway", sans-serif;
$first-color-text: #212121;
$second-color-text: #757575;
$third-color-text: #ffffff;
$fourth-color-text: rgba(255, 255, 255, 0.6);
$accent-color: #2196f3;
$first-bg-color: #ffffff;
$second-bg-color: #2f303a;
$third-bg-color: #f5f5f5;
$fourth-bg-color: #f5f4fa;
$border-color: #ECECEC;
$icon-color:#afb1b8;