/* Що ми робимо */
@media screen and (min-width:1200px){
.section--bgr {
    background-color: $first-bg-color;
    text-align: center;
    
  }
  
  .container__name {
    color: $first-color-text;
    font-style: normal;
    letter-spacing: 0.03em;
    font-weight: 700;
    line-height: 1.16;
    font-size: 36px;
    text-align: center;
    align-items: center;
   margin: 0;
  }
  
  .development{
    display: flex;
    gap:30px;
   margin: 0;
   margin-top: 50px;
   padding: 0;
   list-style: none;
  
   &-link{
    position: relative;
    height: 294px;
  }
  }
  
  
  
  
  .development-title{
    position: absolute;
    width: 100%;
    height: 70px;
    bottom: 0;
    background: rgba(47, 48, 58, 0.80);
    padding-top:27px;
    padding-bottom: 27px;
    
    &__text{
    text-align: center;
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 0.42px;
    text-transform: uppercase;
  color: $third-color-text;
  }
  
  }
  
}  
  