/* Footer */


  @media screen and (min-width:1200px){
 
  .page-footer__logo {
   font-size: 26px;
    letter-spacing: 0.78px;
  }
  
.footer-container-form{
   margin-left: auto;
  }
  
.form-footer{
    display: flex;
    }
  
  .footer-label{
  width: 358px;
    margin-right: 12px;
 }
  
  .footer-input{
    width: 358px;
  }

  .footer-button{
    margin-top:auto;
    width: 200px;
    
      
      
    }
}
  