/* Hero */
@media screen and (min-width:1200px){
.section--design {
    height: 600px;
    max-width: 1600px;
    background-image: linear-gradient( rgba(47, 48, 58, 0.40),rgba(47, 48, 58, 0.40) ),url('../img/Img.jpg');
    
    background-size: cover;
    text-align: center;
    padding-top: 200px;
    padding-bottom: 200px;
    margin-left: auto;
  margin-right: auto;  
  }
  
  .container__title {
    color: $third-bg-color;
    margin: 0;
    font-size: 44px;
  font-style: normal;
  font-weight: 900;
  line-height: 60px;
  letter-spacing: 2.64px;
  text-transform: uppercase;
  width: 696px;
  margin-left: auto;
  margin-right: auto;
    }
   
  .button-hero {
    color: $third-color-text;
    background-color: $accent-color;
    cursor: pointer;
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.8;
    text-align: center;
    align-items: center;
    border: 0;
    border-radius: 4px;
    width: 200px;
    height: 50px;
    margin-top: 30px;
    padding: 0;
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  &:hover,&:focus{
    transform: scale(1.05);
  }
}
}  
  