/* Модальне вікно */

@media screen and (min-width:1200px){
 .modal{
  width: 528px;
  height: 581px;
  padding: 40px;
  }
  
.form__title{
    line-height: normal;
}
 
.form-input{
  width: 448px;
}

.form-container{
  width: 448px;
 }
 .textarea{
  width: 448px;
}
.form-label-check{
  font-size: 14px;
  line-height: 24px; 
  letter-spacing: 0.42px;
  
  }
.check-link{
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.42px;
  }  
  .form-container--positioning{
    
    padding: 0 12px 0 0;
    }
}