
/* Header */


  @media screen and (min-width:1200px){

  .pages{
     margin-left: 93px;
  }

  .contact{
    display: flex;
    margin-left: 312px;
    align-items: center;
    gap:30px;
    }
  
  
  
  .contact-link {
     padding: 32px 0;
   
     &__icon{
     margin-right: 10px;
    }
  }
  
  }

 