/* Ефективні рішення */
@media screen and (min-width:1200px){

.section--positioning{
    padding-bottom: 0;
  
  }
  
  .solution {
    display: flex;
  }

  .solution-container{
    
    width: 270px;
    height: 120px;
  }
  
  .solution-item{
    width: 270px;
   }
 }  
 
  