/* Ефективні рішення */
@media screen and (min-width:1200px){

.section--positioning{
    padding-bottom: 0;
  
  }
  .solution-container{
    
    width: 270px;
    
  }
  
  .solution-item{
    width: calc((100% - 3*30px)/4);
   }
 }  
 
  